
.icon-home:before { content: '\e800'; } /* '' */
.icon-logout:before { content: '\e801'; } /* '' */
.icon-user:before { content: '\e802'; } /* '' */
.icon-plus:before { content: '\e803'; } /* '' */
.icon-plus-circled:before { content: '\e804'; } /* '' */
.icon-minus-circled:before { content: '\e805'; } /* '' */
.icon-minus:before { content: '\e806'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-plus-squared:before { content: '\f0fe'; } /* '' */
.icon-github:before { content: '\f113'; } /* '' */
.icon-minus-squared:before { content: '\f146'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-skype:before { content: '\f17e'; } /* '' */
.icon-wordpress:before { content: '\f19a'; } /* '' */
.icon-medium:before { content: '\f23a'; } /* '' */
.icon-twitter-squared:before { content: '\f304'; } /* '' */