body {
  padding: 0.5em;
  background-color: palegreen;
}

body, textarea {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

textarea {
  width: 100%;
}

h2 {
  color: lightslategray;
}

h3 {
  color: indianred;
}

.led {
  float: left;
  width: 1em;
  height: 1em;
  margin: 0.1em;
  border: 1px solid #AAA;
}

.off {
  background-color: #EEE;
}

.on {
  background-color: blue;
}

.row {
  display: flex;
}

footer {
  font-size: x-large;
}
